<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
  </head>
  <body>
    <div class="header">
      <h1>Mystery Word</h1>
      <h1>random word is {{randomWord}}</h1>
    </div>
    <div class="wrapper">
      <div class="guesses">
        {{#emptyArray}}
        <span>{{.}}</span>
        {{/emptyArray}}
      </div>

      <form class="guessForm" action="/" method="post">
        <span>Guess Your Letters Here:<span>
          <input type="text" name="guess" value="" placeholder="Make A Guess">
          <input type="submit" name="guessButton" value="Submit Guess">
        </form>
        <div class="lettersGuessed">
          <h3>Your Guesses Are:{{guessedLetter}}</h3>
        </div>
        
    </div>

  </body>
</html>
